* {
  font-family: 'Open Sans', sans-serif;
}


.btn {
  display: inline-block;
  padding: 10px 20px;;
  background: #2c7a7b;
  color: white;
  text-decoration: none;
  border-radius: 6px;

}
.btn:hover {
  background: #285e61;
}

nav {
  position: absolute;  /* keeps them at the top */
  top: 90px;           /* distance from top */
  left: 50%;          /* centers the nav */
  transform: translateX(-50%); /* centers the nav */
  display: flex;       /* keeps them in a row */
  gap: 15px;
}

body {
    background-color: #FBC428;
}

h1 {
    text-align: center;
}

a:hover {
    color: #D36135;
    transition: 0.5s;
}

a {
    text-decoration: none;
}